<!--<router-outlet></router-outlet>-->
<!--<p><a href="/header">header</a></p>-->
<!--<p><a href="/profile">profile</a></p>-->
<!--<p><a href="/hardSkills">hardSkills</a></p>-->
<!--<p><a href="/softSkills">softSkills</a></p>-->
<!--<p><a href="/experience">experience</a></p>-->

<!-- ng generate module CUSTOMERS --route CUSTOMERS --module app.module -->
<!-- ng generate module work-experience --route work-experience --module app.module -->

<!--Start from here-->
<!--<app-header></app-header>-->
<!--<app-profile></app-profile>-->
<!--<router-outlet></router-outlet>-->
<kendo-pdf-export #pdf paperSize="A1" margin="4cm">
  <body style="background-color: lightcyan; height: 100%; width: 100%">
    <app-general></app-general>
    <div *ngIf="flag" class="container">
      <h2>Full stack of technology</h2>
      <mat-card class="hard-skills-elements" *ngFor="let hard_skill of hard_skills">
        <img [src]="hard_skill.path" class="custom-logo"> {{hard_skill.tip}}
      </mat-card>
    </div>
  </body>
</kendo-pdf-export>
<button mat-button (click)="flag=!flag; pdf.saveAs('cv.pdf')" class="save-button">Save as PDF</button>
